.images_container_one, .images_container_two {
  position: relative;
}

.images_container_one {
  animation: moveUpDownOne 3s infinite alternate;
}

.images_container_two {
  animation: moveUpDownTwo 3s infinite alternate;
}

@keyframes moveUpDownOne {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

@keyframes moveUpDownTwo {
  0% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}

