.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35); 
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #0A1426;
  transition: all .3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
  vertical-align: middle;
}

nz-content {
  margin: 24px;

  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  overflow-y: auto; 
  max-height: 100vh; 
}

.ant-menu-item-selected{
  background-color: #C8F230 !important;
}

.ant-menu-item-selected a{
  color: #0A1426;
}

/* #51F238  #94F235  #C8F230 #F2E52E  #0A1426  #273440*/