/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities; 


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #273440;
}

::-webkit-scrollbar-thumb {
  background: #C8F230;
  border: 1px solid #C8F230;
  border-radius: 2px
}

::-webkit-scrollbar-thumb:hover {
  background: #F2E52E;
  border: 1px solid #F2E52E;
}